<div class="container">
<div class="row">

<form class="form-vertical span8 offset2" id="signup" action="/auth/process" method="post">

	<h1>Try It Out Free for 30 days</h1>
	<p class="muted sub">Sign up in 60 seconds. Upgrade or cancel anytime.</p>

	<hr />

	<div class="control-group">
		<div class="controls">
			<input type="text" name="name" spellcheck="false" placeholder="Your Name" class="input-xlarge" autofocus />
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<input type="email" name="email" spellcheck="false" placeholder="Email" class="input-xlarge" />
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
		<input type="password" name="password" placeholder="Password" class="input-xlarge" />
		</div>
	</div>

	<button type="submit" class="btn btn-primary btn-large">Sign Up &amp; Get Started</button>
	<p class="muted alt-link">Already have an account? <a href="/#login">Log In</a></p>

</form>

</div>
</div>
